<div class="projects-container">
    <h2><a href="{{ '/projects/' | relative_url }}" style="color: inherit;">Projects</a></h2>
    <p class="post-description">These include all the projects I worked on during my undergraduate journey, as well as
        the ones I am currently
        pursuing</p>
    {% assign sorted_projects = site.projects | sort: 'importance' %}
    {% for project in sorted_projects %}
    {% if project.show != false %}
    <div class="publication-content">
        <div class="dropdown-divider"></div>
        <div class="project-flex-container">
            <div class="col-md-3">
                <img src="{{project.img}}" alt="Project Diagram" class="project-diagram" />
            </div>
            <div class="publication-text col-md-10">
                <a href="{{ project.url | relative_url }}">
                    <h2 class="publication-title">{{ project.title }}</h2>
                </a>
                <p class="authors">
                    {% assign authors_array = project.authors | split: ', ' %}
                    {% for author in authors_array %}
                    {% if author == "Kazi Md. Al-Wakil" %}
                    <strong>{{ author }}</strong>
                    {% else %}
                    {{ author }}
                    {% endif %}
                    {% if forloop.last == false %}, {% endif %}
                    {% endfor %}
                </p>

                <p class="paper-info">
                    <strong><em><span class="paper-type">{{ project.projectCategory }}</span></em>,
                        {{project.year}}</strong>
                </p>
                <div class="publication-description">
                    <p>
                        {{project.description}}
                    </p>
                </div>
                <div class="publication-links">
                    {%- if project.github -%}
                    <div class="github-icon">
                        <div class="icon" data-toggle="tooltip" title="Github">
                            <i class="fab fa-github gh-icon"></i><a href="{{project.github}}" target="_blank"> Github
                            </a>
                        </div>
                    </div>
                    {%- endif -%}

                    {%- if project.other -%}
                    {%- assign other_link = project.other | split: ", " -%}
                    {%- assign site_name = other_link[0] -%}
                    {%- assign site_url = other_link[1] -%}

                    <div class="other-icon">
                        <div class="icon" data-toggle="tooltip" title="{{ site_name }}">
                            {%- if site_name == "Google Sheet" -%}
                            <i class="fab fa-google-drive gh-icon"></i>
                            {%- elsif site_name == "Other" -%}
                            <i class="fab fa-external-link-alt gh-icon"></i>
                            {%- endif -%}
                            <a href="{{ site_url }}" target="_blank"> {{ site_name }} </a>
                        </div>
                    </div>
                    {%- endif -%}
                </div>

            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>