---
layout: default
---

<!-- about.html -->
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == "blank" -%}<span class="font-weight">{{ site.first_name }}</span> {{ site.middle_name }} {{
      site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
    </h1>
    <em>
      <p class="desc"
        style="color: #0205b8; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">{{
        page.subtitle }}</p>
    </em>
  </header>

  <article>
    {% if page.profile -%}
    <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
      {%- if page.profile.image %}
      {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

      {% if page.profile.image_circular %}
      {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
      {% else %}
      {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
      {% endif %}

      {% include figure.html
      path=profile_image_path
      class=profile_image_class
      alt=page.profile.image -%}
      {% endif -%}
      {%- if page.social %}
      <div class="social">
        <div class="contact-note">
          {{ site.contact_note }}
        </div>
        <div class="contact-icons" style="font-size: 1.7em;">
          {% include social.html %}
        </div>
      </div>
      {%- endif %}
      {%- if page.profile.address %}
      <div class="address">
        {{ page.profile.address }}
      </div>
      {%- endif %}
    </div>
    {%- endif %}

    <div class="clearfix">
      {{ content }}
    </div>

    <!---------- News --------------->
    {% if page.news and site.announcements.enabled -%}
    <h2><a href="{{ '/news/' | relative_url }}" style="color: inherit;">News</a></h2>
    {%- include news.html limit=true %}
    {%- endif %}
    <!-- xxxxxxxxxxxxxx News  xxxxxxxxxxxx------->

    <!---------- Latest posts --------------->
    {% if page.latest_posts -%}
    <h2><a href="{{ '/blog/' | relative_url }}" style="color: inherit;">Latest Posts</a></h2>
    {%- include latest_posts.html %}
    {%- endif %}
    <!-- xxxxxxxxxxxxxx Latest posts  xxxxxxxxxxxx------->




    <!---------- Education --------------->
    {%- if page.projects %}
    <div id="education-section" class="post">
      {% include education.html %}
    </div>
    {%- endif %}
    <!-- xxxxxxxxxxxxxx Education section  xxxxxxxxxxxx------->

    <!---------- Experience --------------->
    {%- if page.projects %}
    <div id="experience-section" class="post">
      {% include experience.html %}
    </div>
    {%- endif %}
    <!-- xxxxxxxxxxxxxx Exp section  xxxxxxxxxxxx------->

    <!---------- Selected papers--------------->
    {% if page.selected_papers -%}
    <!-- <h2><a href="{{ '/publications/' | relative_url }}" style="color: inherit;">Publications</a></h2> -->
    <div id="publications-section" class="post">
      {% include publishedPublications.html %}
    </div>

    <!-- {%- include selected_papers.html %} -->
    <!-- I will do this once I have enough papers -->
    {%- endif %}
    <!-- xxxxxxxxxxxxxx Selected papers  xxxxxxxxxxxx------->

    <!---------- Project section--------------->
    {%- if page.projects %}
    <div id="projects-section" class="post">


      {% include projectsInAbout.html %}
    </div>
    {%- endif %}


    <!-- xxxxxxxxxxxxxx Project section  xxxxxxxxxxxx------->


    <!---------- Achievement section--------------->

    {%- if page.achievements %}
    <div id="achievements-section" class="post">
      <!-- <h2><a href="{{ '/news/' | relative_url }}" style="color: inherit;">Achievements</a></h2> -->

      <!-- <h1>{{ page.achivements.title }} {% if page.cv_pdf %}<a href="{{ page.cv_pdf | prepend: 'assets/pdf/' | relative_url}}" target="_blank" rel="noopener noreferrer" class="float-right"><i class="fas fa-file-pdf"></i></a>{% endif %}</h1>
                <p class="post-description">{{ page.description }}</p> -->

      {% include achievements.html %}
    </div>
    {%- endif %}

    <!-- xxxxxxxxxxxxxx Achievement section  xxxxxxxxxxxx------->


    <!------Social-------->
    <!-- {%- if page.social %}
    <div class="social">
      <div class="contact-icons" style="font-size: 1.7em;">
        {% include social.html %}
      </div>

      <div class="contact-note">
        {{ site.contact_note }}
      </div>

    </div>
    {%- endif %} -->
    <!-- xxxxxxxxxxxxxx  Social  xxxxxxxxxxxx------->
  </article>

</div>
<!-- <script>
  document.querySelectorAll('a[href^="#"]').forEach(anchor => {
    anchor.addEventListener('click', function (e) {
      e.preventDefault();

      const target = document.querySelector(this.getAttribute('href'));

      if (target) {
        const offset = 80; // Adjust this value based on your header height
        const topPosition = target.getBoundingClientRect().top + window.scrollY - offset;

        window.scrollTo({
          top: topPosition,
          behavior: 'smooth'
        });
      }
    });
  });
</script> -->